{% extends 'base.html.twig' %}

{% block title %}Mobilier de bureau & espaces commerciaux
{% endblock %}

{% block body %}
{{parent()}}
<div class="green-screen"></div>

<div class="laptop-version">
	<div class="container-service traveau">
		<div class="text-center">
			<h1 class="header-services pt-5" style="color:black">Mobilier de bureau & espaces commerciaux</h1>
			<span class="green-divider"></span>
			<p class="header-p mt-5">
				Un mobilier bien adapté à l'image de votre entreprise est bien plus qu'un simple ensemble de meubles. Il
				sert de reflet de votre identité et de votre culture d'entreprise, renforçant ainsi votre image de
				marque. En investissant dans un mobilier qui allie esthétique, fonctionnalité et ergonomie, vous créez
				un environnement propice à la collaboration, à la créativité et à la réussite globale de votre
				entreprise, à travers la satisfaction de vos clients et de vos collaborateurs. Découvrez nos gammes de
				mobilier ! Nous sommes fiers de pouvoir proposer une gamme de produits variée à travers nos capacités de
				production locales ainsi que nos partenariats avec des marques internationales de grande renommée.
			</p>
		</div>
		<div class="container mt-3 mt-md-5">
			<div class="row d-flex align-items-center">
				<div class="col-md-6">
					<span class="green-divider d-md-none"></span>
					<h3 class="d-md-none" style="font-family: 'Lexend';width: 100%;margin-bottom: 20px;">Mobilier
						d’acceuil</h3>
					<img src="{{asset('front/img/commerciau1.png')}}" width="100%" style="border-radius:20px"
						class="inner-img">
				</div>
				<div class="col-md-6">
					<span class="green-divider d-none d-md-inline-block"></span>
					<h3 class="d-none d-md-block" style="font-family: 'Lexend';width: 100%;">Mobilier d’acceuil</h3>
					<p>
						Faites une première impression mémorable avec notre sélection de mobilier de réception haut de
						gamme.<br>
						De l'accueil chaleureux de vos visiteurs à la création d'un espace d'attente confortable et
						élégant, notre gamme complète de sièges, de tables et d'accessoires de réception vous permettra
						de créer un environnement accueillant et professionnel dès le premier instant
					</p>
				</div>
			</div>

			<div class="row d-flex align-items-center">
				<div class="col-md-6">
					<span class="green-divider d-md-none"></span>
					<h3 class="d-md-none" style="font-family: 'Lexend';width: 100%;margin-bottom: 20px;">Mobilier de
						bureaux</h3>
					<img src="{{asset('front/img/commerciau2.png')}}" width="100%" style="border-radius:20px"
						class="inner-img">
				</div>
				<div class="col-md-6">
					<div class="head-title2 row">
						<div class="col-sm" style="text-align: left;">
							<span class="green-divider d-none d-md-inline-block"></span>
							<h3 class="d-none d-md-block" style="font-family: 'Lexend';">Mobilier de bureaux</h3>
						</div>
					</div>
					<p style="text-align: left;">
						Découvrez notre collection de bureaux exécutifs conçus pour allier fonctionnalité, confort et
						élégance. Que vous recherchiez une ambiance classique ou contemporaine, nos bureaux exécutifs
						offrent des designs raffinés et des matériaux de qualité pour répondre aux besoins des
						professionnels les plus exigeants.
					</p>
				</div>
			</div>

			<div class="row d-flex align-items-center">
				<div class="col-md-6">
					<span class="green-divider d-md-none"></span>
					<h3 class="d-md-none" style="font-family: 'Lexend';width: 100%;margin-bottom: 20px;">Mobilier pour
						open space</h3>
					<img src="{{asset('front/img/commerciau3.png')}}" width="100%" style="border-radius:20px"
						class="inner-img">
				</div>
				<div class="col-md-6">
					<span class="green-divider d-none d-md-inline-block"></span>
					<h3 class="d-none d-md-block" style="font-family: 'Lexend';width: 100%;">Mobilier pour open space
					</h3>
					<p>
						Favorisez la créativité et le travail d'équipe avec nos solutions d'espaces collaboratifs
						innovantes. Des zones de brainstorming informelles aux espaces de travail partagés, notre
						mobilier polyvalent et ergonomique encourage la collaboration, tout en offrant un confort
						optimal.
					</p>
				</div>
			</div>

			<div class="row d-flex align-items-center">
				<div class="col-md-6">
					<span class="green-divider d-md-none"></span>
					<h3 class="d-md-none" style="font-family: 'Lexend';width: 100%;margin-bottom: 20px;">Mobilier pour
						salles de réunion</h3>
					<img src="{{asset('front/img/commerciau4.png')}}" width="100%" style="border-radius:20px"
						class="inner-img">
				</div>
				<div class="col-md-6">
					<div class="head-title2 row">
						<div class="col-sm" style="text-align: left;">
							<span class="green-divider d-none d-md-inline-block"></span>
							<h3 class="d-none d-md-block" style="font-family: 'Lexend';">Mobilier pour salles de réunion
							</h3>
						</div>
					</div>
					<p style="text-align: left;">
						Rassemblez vos équipes ou recevez vos clients dans des espaces inspirants et fonctionnels grâce
						à notre mobilier spécialement conçu pour les salles de réunion. Des tables de conférence
						élégantes aux chaises ergonomiques, notre collection répond à la fois à des besoins de praticité
						et de confort
					</p>
				</div>
			</div>

			<div class="row d-flex align-items-center">
				<div class="col-md-6">
					<span class="green-divider d-md-none"></span>
					<h3 class="d-md-none" style="font-family: 'Lexend';width: 100%;margin-bottom: 20px;">Mobilier pour
						salle de conférence et auditorium</h3>
					<img src="{{asset('front/img/commerciau5.png')}}" width="100%" style="border-radius:20px"
						class="inner-img">
				</div>
				<div class="col-md-6">
					<span class="green-divider d-none d-md-inline-block"></span>
					<h3 class="d-none d-md-block" style="font-family: 'Lexend';width: 100%;">Mobilier pour salle de
						conférence et auditorium</h3>
					<p>
						Que ce soit dans des environnements professionnels ou académiques, faites forte impression lors
						de vos événements avec notre mobilier pour salle de conférences et auditoriums. Chaque pièce,
						des sièges aux tables de conférence, est méticuleusement conçue pour allier confort optimal et
						esthétique d’exception.
					</p>
				</div>
			</div>

			<div class="row d-flex align-items-center">
				<div class="col-md-6">
					<span class="green-divider d-md-none"></span>
					<h3 class="d-md-none" style="font-family: 'Lexend';width: 100%;margin-bottom: 20px;">Hôtellerie et
						restauration</h3>
					<img src="{{asset('front/img/commerciau8.png')}}" width="100%" style="border-radius:20px"
						class="inner-img">
				</div>
				<div class="col-md-6">
					<div class="head-title2 row">
						<div class="col-sm" style="text-align: left;">
							<span class="green-divider d-none d-md-inline-block"></span>
							<h3 class="d-none d-md-block" style="font-family: 'Lexend';">Hôtellerie et restauration</h3>
						</div>
					</div>
					<p style="text-align: left;">
						Nos produits pour l'hôtellerie et la restauration, allient durabilité et esthétique. Chaque
						pièce est conçue pour offrir confort et élégance, répondant aux besoins des professionnels les
						plus exigeants. Nos produits sont soigneusement sélectionnés pour leur robustesse et leur design
						intemporel, garantissant une expérience de la plus haute qualité pour vos clients.
					</p>
				</div>
			</div>

			<div class="row d-flex align-items-center">
				<div class="col-md-6">
					<span class="green-divider d-md-none"></span>
					<h3 class="d-md-none" style="font-family: 'Lexend';width: 100%;margin-bottom: 20px;">Solutions et
						boxes acoustiques</h3>
					<img src="{{asset('front/img/commerciau9.png')}}" width="100%" style="border-radius:20px"
						class="inner-img">
				</div>
				<div class="col-md-6">
					<span class="green-divider d-none d-md-inline-block"></span>
					<h3 class="d-none d-md-block" style="font-family: 'Lexend';width: 100%;">Solutions et boxes
						acoustiques</h3>
					<p>
						Créez des espaces de travail sereins et confortables avec nos solutions et boxes acoustiques. De
						la cloison acoustique modulaire aux panneaux absorbants, nos produits offrent des options
						personnalisables pour contrôler le bruit et améliorer la concentration dans les environnements
						de travail ouverts.
					</p>
				</div>
			</div>

		</div>
	</div>
</div>

{% endblock %}